<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/stylesheets/contact.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap">
</head>
<body>

    <div class="contact-container">
        <h1>Connect With Me</h1>
        <p>I would love your feedback and also love to respond to your queries.
           <br> Feel free to get in touch with me.
        </p>
           <div class="contact-box">
            <div class="contact-left">
                <h3>Send your request/feedback</h3>
                <form action="">
                    <div class="input-row">
                        <div class="input-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" placeholder="John Smith">
                        </div>                
                        <div class="input-group">
                            <label for="phone">Phone</label>
                            <input type="text" id="phone" name="phoneNumber" placeholder="+234 810 067 1990">
                        </div>                              
                    </div>
                    <div class="input-row">
                        <div class="input-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email"
                             placeholder="johnsmith@gmail.com">
                        </div>                
                        <div class="input-group">
                            <label for="subject">Subject</label>
                            <input type="text" id="subjext" name="subject" placeholder="Subject">
                        </div>                              
                    </div>
    
                    <label for="message">Message</label>
                    <textarea name="message" id="message" rows="5" placeholder="Your Message"></textarea>
                    <button type="submit">Send</button>          
        </form>
            </div>
            <div class="contact-right">
                <h3>Reach Me</h3>
                <table>
                    <tr>
                        <td>Email</td>
                        <td>contactus@example.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>+234 812 067 1990</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>#212 Gidan Buhari, 2nd Gloor,<br>
                             Broadway street, Abuja <br>
                             Abuja, Nigeria</td>
                    </tr>
                </table>
                <h3 class="title-social">OR &nbsp; Connect with me</h3>
                
            </div>
        </div>
    </div>
    
</body>
</html>