/*=============Site content======*/

main .site-content{
    display: grid;
    grid-template-columns: 30% 70%
}


main .title{
    text-align: center;
    line-height: 60px;
    letter-spacing: .3rem;
    font-size: 1rem;
    background: var(--golden);
    text-transform: uppercase;
}

/*============About Me===========*/
main .about-me-content{
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px #000;
}


main .site-content .about-me-image > div{
    overflow: hidden;
 /*i modified these: these only centers the image wethin the div and not the whole div..*/
    padding-top: 0.5rem;  
    display: flex;
    align-items: center;
    justify-content: center;
}

main .site-content .about-me-image .image-background  img {
    /* position: relative; */
    /* width: 100%; */
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
    border: 5px solid var(--golden-2);    /* height: 70%; */
}


main .site-content .about-me-content > .about-me-info{
    padding: 0 2rem;
    text-align: center;
    padding-bottom: 1rem;
}



/*===========Blog post / Site content==========*/
main .posts{
    margin-left: 20px;
}

main .post-content{
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0px 0px 5px #000;
}

main .site-content .post-content >  .post-image, .post-title, .post-description{
    padding: 1rem 2rem;
    position: relative;
}

main .site-content .post-content > .post-image .post-info{
    background: var(--golden);
    padding: .8rem 1.5rem;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0%;
    /* left: calc(50% -430px); */
    /* border-radius: 3rem; */
}

main .site-content > .post-image > div{
    overflow: hidden;
}

main .site-content .post-content > .post-image .img{
    width: 100%;
    height: 500px;
    transition: all 1s ease;
}

main .site-content .post-content > .post-image .post-info span{
    margin: 0 .5rem;
}

main .post-content .post-title h2{
    text-align: center;
    font-family: var(--Arvo);
    font-size: 1.8rem ;
}

.site-content .post-content .post-description{
    text-align: justify;
    padding-bottom: 2rem;
}

.site-content .post-content .post-description div{
    text-align: center;
}

.site-content .post-content .post-description .post-btn{
    text-align: center;
    letter-spacing: .1rem;
    margin-top: 1rem;
    background: var(--golden);
}

/* hr{
    width: 100%;
    margin: 0;
} */
/* hr {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
} */
hr{ 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

@media only screen and (max-width:750px){
    
    main .site-content .post-content > .post-image .post-info{
        background: var(--white);
        bottom: initial !important;
        left: initial !important;
        border-radius: 0 !important;
    }

    .btn{
        margin: 1rem !important;
    }
}

@media only screen and (max-width:1000px){
    .nav .nav-menu, .nav-items{
        /* display: flex; */
        flex-direction: column;
    }

    .nav .toggle-collapse{
        display: initial;
    }

    main .site-content{
        grid-template-columns: 100% !important;
    }
    main .posts{
        margin-left: 0 !important;
    }
}

@media only screen and (max-width:750px){
    
    main .site-content .post-content > .post-image .post-info{
        background: var(--white);
        bottom: initial !important;
        left: initial !important;
        border-radius: 0 !important;
    }

    .btn{
        margin: 1rem !important;
    }
}

@media only screen and (max-width:550px){
    .container{
        margin: 0 1rem;
    }

    /* main section .about-me{
        display: none;
    } */

    main section .post-content .post-info{
        display: none;
    }
    main section ,.post-content .post-description{
        padding: 0 1rem !important;
    }

    .post-btn{
        padding: .5rem 1rem !important;
    }
    footer.footer .container{
        grid-template-columns:repeat(1,1fr);
    }
}

@media only screen and (min-height: 1000px){
    .nav{
        min-height: 7vh;
    }
}

/* @media only screen and (max-width:550px){
    .container{
        margin: 0 1rem;
    }

    main section .about-me{
        display: none;
    }

    main section .post-content .post-info{
        display: none;
    }
    main section ,.post-content .post-description{
        padding: 0 1rem !important;
    }

    .post-btn{
        padding: .5rem 1rem !important;
    }
    footer.footer .container{
        grid-template-columns:repeat(1,1fr);
    }
}

@media only screen and (min-height: 1000px){
    .nav{
        min-height: 7vh;
    }
} */
